.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.centered {
    min-height: calc(100vh - 100px);
    display: grid;
    place-items: center;
}

.margin {
    margin: 10rem auto;
}

.padding {
    padding: 2rem 1rem;
}
