.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;
}

.clientSlider{
    cursor: pointer;
    height: 10rem;
    display: flex;
    gap: 10rem;
}

.clientImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (width <=600) {
    .container{
        z-index: -1;
    }
}