.container{
    display: grid;
    grid-template: 1fr / minmax(300px, 3fr) minmax(300px, 2fr);
    gap: 2rem;
}


.image{
    border-radius: 1rem;
    box-shadow: 4px 4px 0 var(--accent-color);
}

@media (width <= 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .image__container {
        max-height: 50%;
    }
}