.list {
    display: flex;
    gap: 2rem;
}

.column {
    flex-direction: column;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right{
    justify-content: flex-end;
}